{#{% extends 'form_div_layout.html.twig' %}#}
{#{% form_theme form 'bootstrap_4_layout.html.twig'%}#}


{% block file_widget %}
    {% spaceless %}
        {% if image_url is defined %}
            {% if image_url is not null %}
                <div class="hidden">
                    {{ block('form_widget') }}
                </div>
                <img class="photo" src="{{ asset(image_url) }}"/>
            {% else %}
                {{ form_widget(form, { 'attr': {'class': 'btn btn-default'} }) }}
                <button type="button" class="btn btn-default">Default</button>


            {% endif %}
        {% else %}
            {#{{ block('form_widget') }}#} <p>1dsfds</p>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block text_widget %}
    {% spaceless %}
        {% if video_url is defined %}
            {% if video_url is not null %}
                <div class="hidden">
                    {{ block('form_widget') }}
                </div>
                <iframe class="photo" src="{{ video_url }}"></iframe>
            {% else %}
                {{ block('form_widget') }}
            {% endif %}
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}
