{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}

    <h1>Fill in your email and username to reset your password</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.email, {
        'label': 'Votre email'
    }) }}

    {{ form_row(form.username, {
        'label': 'Votre nom d\'utilisateur'
    }) }}

    <button type="submit" formnovalidate>Reset my password</button>

    {{ form_end(form) }}


{% endblock %}