{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 text-center bordered topmargin">

                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.email, {
                    'label': 'Votre email'
                }) }}

                {{ form_row(form.username, {
                    'label': 'Votre nom d\'utilisateur'
                }) }}

                <button class="btn btn-default btn-block" type="submit" formnovalidate>Reset my password</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}