{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' 'Form/imageFields.html.twig' %}

{% block title %}Edit trick{% endblock %}

{% block body %}

    <h1>Modification d'un trick</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name, {
        'label': 'Nom du trick'
    }) }}

    {{ form_row(form.description, {
        'label': 'Description du trick'
    }) }}

    {{ form_row(form.trickGroup, {
        'label': 'Sélectionnez une catégorie de saut'
    }) }}

    {#{{ form_row(form.images, {#}
        {#'label': 'Images'#}
    {#}) }}#}
    <h3>Images</h3>
    <div class="row js-trick-image-wrapper">
        {% for image in form.images %}
            <div class="col-xs-4 js-trick-image-item">
                <a href="#" class="js-remove-image pull-right">
                    <span class="fa fa-close"></span>
                </a>
                {{ form_errors(form) }}
                {{ form_row(form.images) }}
            </div>
        {% endfor %}
    </div>

    <h3>Videos</h3>
    <div class="row js-trick-video-wrapper">
        {% for video in form.videos %}
            <div class="col-xs-4 js-trick-video-item">
                <a href="#" class="js-remove-video pull-right">
                    <span class="fa fa-close"></span>
                </a>
                {{ form_errors(form) }}
                {{ form_row(form.videos) }}
            </div>
        {% endfor %}
    </div>






    {#<div>#}
        {#<ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">#}
        {#</ul>#}
    {#</div>#}




    {# {% if (images != null) %} #}

        {#{% for image in images %}#}
            {#<ul>#}
                {#<li>#}
                    {#<img src="{{ asset('uploads/images/'~image.filename) }}" alt="{{ image.caption }}"/>#}
                    {#<a href="{{ path('user_avatar_delete') }}" type="button" class="btn">Delete</a>#}
                {#</li>#}
            {#</ul>#}
        {#{% endfor %}#}

    {#{% endif %}#}
    {#{% for video in trick.videos %}#}
        {#<iframe class="myIframe" width="560" height="315" frameborder="0" allowfullscreen></iframe>#}

        {#<script type="text/javascript">#}

            {#var url = "{{ video.embed }}";#}
            {#var id = url.split("?v=")[1];#}
            {#var embedlink = "http://www.youtube.com/embed/" + id;#}
            {#var ytube1 = document.getElementsByClassName("myIframe");#}
            {#ytube1[{{loop.index0}}].src = embedlink;#}

        {#</script>#}
    {#{% endfor %}#}

    {#{% for image in trick.images %}#}
        {#<img src="{{ asset('uploads/images/'~image.filename) }}" alt="{{ image.caption }}"/>#}
    {#{% endfor %}#}



    <button type="submit" formnovalidate>Save</button>

    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            var $wrapper = $('.js-trick-video-wrapper');

            $wrapper.on('click', '.js-remove-video', function(e) {
                e.preventDefault();

                $(this).closest('.js-trick-video-item')
                    .fadeOut()
                    .remove();
            });
        });

        jQuery(document).ready(function() {
            var $wrapper = $('.js-trick-image-wrapper');

            $wrapper.on('click', '.js-remove-image', function(e) {
                e.preventDefault();

                $(this).closest('.js-trick-image-item')
                    .fadeOut()
                    .remove();
            });
        });
    </script>

{% endblock %}