{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <h1>Welcome {{ app.user.username }}!</h1>
    {% endif %}

    {% if is_granted('ROLE_USER') == false %}
        <form action={{ path('login') }}>
            <input type="submit" value="Login" />
        </form>
        <form action={{ path('register') }}>
            <input type="submit" value="Register" />
        </form>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <form action={{ path('logout') }}>
            <input type="submit" value="Logout" />
        </form>
        <form action={{ path('user_edit') }}>
            <input type="submit" value="Edit profile" />
        </form>
    {% endif %}


    <form action={{ path('trick_create') }}>
        <input type="submit" value="New trick" />
    </form>

    {% for trick in tricks %}
        <ul>
            <li>
                <p><a href="{{ path('trick_show', { 'slug':trick.slug }) }}">{{ trick.name }}</a></p>
                <p>Created on {{ trick.createdAt | date("d/m/Y") }}</p>

                <form action={{ path('trick_edit', { 'slug':trick.slug }) }}>
                    <input type="submit" value="Edit" />
                </form>
                <form action={{ path('trick_delete', { 'slug':trick.slug }) }}>
                    <input type="submit" value="Delete" />
                </form>

                {% for image in trick.images|slice(0, 1) %}
                    <p>{{ image.caption }}</p>
                {% endfor %}

            </li>
        </ul>
    {% endfor %}
{% endblock %}