{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New trick{% endblock %}

{% block body %}

    <h1>Ajout d'un nouveau trick</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name, {
        'label': 'Nom du trick'
    }) }}

    {{ form_row(form.description, {
        'label': 'Description du trick'
    }) }}

    {{ form_row(form.trickGroup, {
        'label': 'Sélectionnez une catégorie de saut'
    }) }}

    {{ form_row(form.images, {
        'label': 'Image a la une'
    }) }}


    <button type="submit" formnovalidate>Save</button>

    {{ form_end(form) }}


{% endblock %}



{% endblock %}