{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}
    <div class="container topmargin">
        <div class="row">
            <div class="col-lg-12 bordered">

                {% for image in trick.images|slice(0, 1) %}
                    <h1 id="title" class="centered">{{ trick.name }}</h1>
                    {% if is_granted('ROLE_USER') %}
                        <div class="pull-right">
                            <a href="{{ path('trick_edit', { 'slug':trick.slug }) }}"><i class="fa fa-pencil-square-o fa-fw pull-right"></i></a>
                            <a href="{{ path('trick_delete', { 'slug':trick.slug }) }}"><i class="fa fa-trash fa-fw pull-right"></i></a>
                        </div>
                        {% endif %}
                    <img class="card-img-top" src="{{ asset('uploads/images/'~image.filename) }}" alt="">
                {% endfor %}

            </div>

            <div class="container">
                <div class="row">

                    {% for image in trick.images|slice(1, 1000) %}
                        <div class="col-lg-2 col-md-3 bordered">
                            <img class="photo" src="{{ asset('uploads/images/'~image.filename) }}" alt=""/>
                        </div>
                    {% endfor %}

                    {% for video in trick.videos %}
                        <div class="col-lg-2 col-md-3 bordered">
                            <iframe class="photo" src="{{ video.embed }}"></iframe>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="container trickDescription">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                        {{ trick.description|raw }}
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 trickInfos">
                        Group: {{ trick.trickGroup }}
                        | Created at: {{ trick.createdAt | date("d/m/Y H:i") }}
                        {% if trick.modifiedAt is not null %}
                            | Last modified on {{ trick.modifiedAt|date("d/m/Y H:i") }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 trickInfos">

                        {% if is_granted('ROLE_USER') %}
                            <hr>
                            {{ include('trick/_commentForm.html.twig') }}
                        {% endif %}
                        <hr>


                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    {% for comment in trick.comments %}
                        <div class="col-lg-2 offset-lg-2 comment">
                            <img class="avatar" src="{{ asset('uploads/images/'~comment.user.image) }}" alt=""/>
                            <div class="commentInfos">
                                {{ comment.user.username }}
                                {{ comment.createdAt|date("d/m/Y") }}
                            </div>
                        </div>
                        <div class="col-lg-6 comment">
                            {{ comment.content }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>






{% endblock %}