{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}

    <h1>{{ trick.name }}</h1>
    <h2>{{ trick.trickGroup }}</h2>
    <p>{{ trick.description }}</p>

    <h2>Les images</h2>
    {% for image in trick.images %}
        <img src="{{ asset('uploads/images/'~image.filename) }}" alt="{{ image.caption }}"/>
    {% endfor %}

    <h2>Les videos</h2>
    {% for video in trick.videos %}

        <iframe width="420" height="315"
                src="{{ video.embed }}">
        </iframe>

    {% endfor %}


    <h2>Vos commentaires</h2>
    {% for comment in trick.comments %}
        <p>
        {{ comment.user.username }}, le {{ comment.createdAt|date("d/m/Y") }} : {{ comment.content }}
        </p>
    {% endfor %}

    {% if is_granted('ROLE_USER') %}

        <h1>Ajout d'un nouveau commentaire</h1>
        {{ include('trick/_commentForm.html.twig') }}

    {% endif %}

{% endblock %}