{{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.username, {
            'label': 'Ton nom d\'utilisateur'
        }) }}

        {{ form_row(form.firstname, {
            'label': 'Ton prénom'
        }) }}

        {{ form_row(form.lastname, {
            'label': 'Ton nom'
        }) }}

        {{ form_row(form.email, {
            'label': 'Ton email'
        }) }}

        {{ form_row(form.password, {
            'label': 'Ton password'
        }) }}

        {{ form_row(form.avatar, {
            'label': 'Ton avatar'
        }) }}

<button type="submit" formnovalidate>Save</button>

{{ form_end(form) }}