{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New user registration{% endblock %}

{% block body %}

    <h1>Formulaire d'enregistrement</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.firstname, {
        'label': 'Ton prénom'
    }) }}

    {{ form_row(form.lastname, {
        'label': 'Ton nom'
    }) }}

    {{ form_row(form.email, {
        'label': 'Ton email'
    }) }}

    {{ form_row(form.image.filename, {
        'label': 'Upload ton avatar'
    }) }}

    <img src="{{ asset('uploads/images/'~app.user.image.filename) }}" alt="{{ app.user.image.caption }}"/>

    <button type="submit" formnovalidate>Save</button>

    {{ form_end(form) }}

{% endblock %}