{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New user registration{% endblock %}

{% block body %}

    <h1>Formulaire d'enregistrement</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.firstname, {
        'label': 'Ton prénom'
    }) }}

    {{ form_row(form.lastname, {
        'label': 'Ton nom'
    }) }}

    {{ form_row(form.email, {
        'label': 'Ton email'
    }) }}

    {% if (user.image == null) %}
        {{ form_row(form.image.filename, {
            'label': 'Ton avatar'
        }) }}
    {% endif %}


    {% if (user.image != null) %}

        <img src="{{ asset('uploads/images/'~user.image.filename) }}" alt="{{ user.image.caption }}"/>
        <a href="{{ path('user_avatar_delete') }}" type="button" class="btn">Delete</a>

    {% endif %}

    <button type="submit" formnovalidate>Save</button>

    {{ form_end(form) }}

{% endblock %}